<div class="about-main">
  <h2>Happy Commitとは?</h2>
  <p>どんなに些細で小さくてもいいから、今日あった良い出来事を共有しよう！</p>
  <p>自分が前向きになった出来事なら何でもOK！</p>
  <p>みんなで認め合って、幸福の輪を広げよう！</p>
  <!-- <img class="about-img" src="/tweets.png">  -->
</div>