<div class="main top-main">
  <div class="top-message">
    <h2>Happy Commit</h2>
    <p>〜『幸せ』から広がる世界 〜</p>
  </div>
  <div class="top-btn">
  <a href="/signup" class="btn new"><span class="fa fa-new"></span>CreateNew</a>
  <a href="/login" class="btn login"><span class="fa fa-login"></span>　 Login 　</a>
  </div>
</div>
