<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
   <%= form_tag("/posts/create", {multipart: true}) do %>
    <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <h1>《投稿内容》</h1>
        <textarea name="content"><%= @post.content %></textarea>

        <h1>《画像》</h1>
        <input type = "file" name ="post_picture">

        <h1>《主観的幸福度　1＝" 普通 " , 10=" 言葉に出来ないほど嬉しい "》</h1>
        <div class="happy-tag">
        <%= select_tag(:point , options_for_select(["1","2","3","4","5","6","7","8","9","10"])) %>
        </div>
        <input type="submit" value="投稿">
      </div>
    </div>
  　<% end %>
  
  </div>
</div>