// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.nameee{
  width: 220px;
  text-align: center;
}

.commenttt{
  width: 1000px;
}

.comment2{
  text-align: center;
}

